<!DOCTYPE html>
<html>
  <head>
    <title>Navigation in Progress...</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/tobiasLoader.css'/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/loadingScreenScript.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
    <div id="eventsTitle">Robot is Navigating... Please Wait!</div>

    <div class="centerMiddle">
      <button class="submit submit4" onclick="stopNavigation()">
        STOP NAVIGATION
      </button>
    </div>
  </body>
</html>
