<!DOCTYPE html>
<html>
  <head>
    <title>Request GDC Event Navigator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/requestRobotScript.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="chooseDoors" class='requestLocation'>
      <form id="doorForm" onsubmit="processDoorChoice(event)">
        <div class="infoText2">There are multiple doors available for this room. Please select your preference.</div>
        <select id="doorSelect" required>
          <option value="a1">Door A1</option>
          <option value="a2">Door A2</option>
          <option value="a3">Door A3</option>
          <option value="b1">Door B1</option>
          <option value="b2">Door B2</option>
          <option value="b3">Door B3</option>
        </select> <br>
        <button type="submit" id="submit" class="submit2">
          SUBMIT
        </button>
      </form>
    </div>
    <h1 id="eventsTitle">Request Navigator Assistance</h1>
    <div class="centerMiddle">
      <h3 class='infoText'>
        This service allows you to request a robot navigator to your current location. The robot can be used for guidance to an event happening in the GDC.
      </h3>

      <form id="submitLocation" onsubmit="processRequest(event)" autocomplete="off">
        <input type="text" placeholder="9.999" maxlength="7" id="roomNumberSubmission" required oninput="changedInput()"></input>
        <button type="submit" id="submit" class="submit1">
          SUBMIT
        </button>
        <div id="errorText">Sorry, that's an invalid room number. Note that we currently only provide service to the third floor. Please try again!</div>
      </form>

      <h3 class="infoText">
        To begin, please enter the room number where you're currently located.
      </h3>
    </div>

  </body>
</html>
