<!DOCTYPE html>
<html>
  <head>
    <title>Returning to Base</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/tobiasLoader.css'/>
    <script src="/javascripts/returningScreenScript.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- With love from Tobias Ahlin, tobiasahlin.com/spinkit/ -->
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
    <div id="eventsTitle">Robot is Returning to Base...</div>
    <div class="centerMiddle">
      <button class="submit submit5" onclick="stopNavigation()">
        USE ROBOT
      </button>
    </div>
  </body>
</html>
