@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700|Source+Sans+Pro|Alegreya+Sans');

/* questionable CSS */
#eventsTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 5vw;

  margin-bottom: 40px;
}
.eventTitle {
  font-family: 'Montserrat', sans-serif;
}
.eventDesc {
  font-family: 'Merriweather', serif;
}
.eventButton {
  display: relative;
  width: 60%;
  height: 20%;

  margin-left: 20%;
  margin-bottom: 25px;

  background: #a0a2ff;
  cursor: pointer;

  border: #041e47 3px solid;
  border-radius: 3px;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.eventButton:hover {
  animation: changeColor .25s forwards, expandSize .25s forwards;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
@keyframes changeColor {
  from {background: #a0a2ff;}
  to {background: #6667d1;}
}
.infoText {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2em;
}
.infoText2 {
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
.centerMiddle {
  display: relative;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
#roomNumberSubmission {
  width: 40vw;
  height: 10vh;
  text-align: center;
  border: 1px dotted black;

  font-size: 10vh;
  font-family: 'Alegreya Sans', sans-serif;
}
.submit1 {
  margin-top: 5vh;
}
.submit2 {
  margin-top: 1vw;
}
#submit {
  width: 20vw;
  height: 6vh;

  border: 1.5px solid black;
  border-radius: 3px;

  background-color: white;

  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
input:focus {
  outline: none;
}
#errorText {
  margin-top: 3vh;

  font-size: 2vw;
  font-family: 'Alegreya Sans', sans-serif;

  color: red;
  visibility: hidden;
}
#chooseDoors {
  position: fixed;
  width: 40vw;
  height: 20vh;

  text-align: center;
  margin-left: 29vw;
  margin-top: 30vh;

  border: black 2px solid;
  border-radius: 20px;

  background: #f49e42;
  box-shadow: 1px 1.5px 1px 1.5px grey;
  z-index: 10;
  visibility: hidden;
}
#doorSelect {
  margin-top: 10px;
  width: 13vw;
  height: 5vh;

  text-align: center;

  font-size: 3vh;
  font-family: 'Alegreya Sans', sans-serif;
}
