@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700|Source+Sans+Pro|Alegreya+Sans|Montserrat');
#eventsTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 5vw;

  margin-bottom: 40px;
}
.eventTitle {
  font-family: 'Montserrat', sans-serif;
}
.eventDesc {
  font-family: 'Merriweather', serif;
}
.eventButton {
  display: relative;
  width: 60%;
  height: 20%;

  margin-left: 20%;
  margin-bottom: 25px;

  background: #7a7bff;
  cursor: pointer;

  border: #041e47 3px solid;
  border-radius: 3px;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.eventButton:hover {
  animation: changeColor .25s forwards, expandSize .25s forwards;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
@keyframes changeColor {
  from {background: #7a7bff;}
  to {background: #a0a2ff;}
}
.infoText {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2em;
}
.infoText2 {
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
.centerMiddle {
  display: relative;
  width: 65%;
  margin-left: 17.5%;
  text-align: center;
}
#roomNumberSubmission {
  width: 40vw;
  height: 10vh;
  text-align: center;
  border: 1px dotted black;

  font-size: 10vh;
  font-family: 'Alegreya Sans', sans-serif;
}
.submit {
  border: 1.5px solid black;
  border-radius: 3px;

  background-color: white;
  font-family: 'Montserrat', sans-serif;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.submit1 {
  margin-top: 5vh;
  font-size: 2vw;
  width: 24vw;
  height: 12vh;
}
.submit2 {
  margin-top: 3.5vh;
  font-size: 2vw;
  width: 20vw;
  height: 6vh;
}
.submit3 {
  width: 80%;
  height: 10vh;
  font-size: 2vh;
}
.submit4 {
  background-color: #ff8787;
  width: 80%;
  height: 140px;

  border: 3px solid black;
  border-radius: 3px;

  font-size: 10vh;
}
.submit:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.submit4:hover {
  animation: changeColor2 .25s forwards
}
@keyframes changeColor2 {
  from {background: #ffa0a0;}
  to {background: #ff2323;}
}
input:focus {
  outline: none;
}
#errorText {
  margin-top: 3vh;

  font-size: 2vw;
  font-family: 'Alegreya Sans', sans-serif;

  color: red;
  visibility: hidden;
}
#chooseDoors {
  border: black 2px solid;
  border-radius: 20px;

  background: #6DC0FF;
  box-shadow: 1px 1.5px 1px 1.5px grey;
  z-index: 10;
  visibility: hidden;
}
.doorRequestBlock {
  position: fixed;
  width: 50vw;
  height: 25vh;

  text-align: center;
  margin-left: 25vw;
  margin-top: 35vh;
}
#doorSelect {
  margin-top: 10px;
  width: 13vw;
  height: 5vh;

  text-align: center;

  font-size: 2vw;
  font-family: 'Alegreya Sans', sans-serif;
}
.invisible {
  display: none;
}
.iconHolder {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  height: 50px;
  width: 50px;
}
#guide {
  position: fixed;
  display: absolute;

  top: 0px;
  margin-left: 2.5%;
  width: 10%;
  height: 670px;

  background-color: #afb1ff;

  text-align: center;
  font-family: 'Montserrat', sans-serif;

  border-bottom: black solid 2px;
  border-left: black solid 2px;
  border-right: black solid 2px;
  border-radius: 3px;
}
#bottom {
  position: absolute;
  top: 89%;
  height: 6%;
  width: 35%;

  margin-left: 32.4%;
  border: 1.5px black solid;

  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  font-weight: 500;
}


/* CSS to alter SweetAlert */
.swal-title {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
}
